<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate configuration DTD 3.0//EN"
        "http://www.hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
 <session-factory>
 <property name="hibernate.connection.driver_class">
 com.mysql.jdbc.Driver
 </property>
 <property name="hibernate.connection.url">
 	jdbc:mysql://localhost:3306/suraj
 </property>
 <property name="hibernate.connection.username">
 root</property>
 <property name="hibernate.connection.password">
 root
 </property>
 <property name="dialect">
 org.hibernate.dialect.MySQLDialect
 </property>
 <property name="connection.pool_size">1</property>
 <property name="current_session_context_class">thread</property>
 <property name="show_sql">true</property>
 <property name="format_sql">true</property>
 <mapping resource="owner.hbm.xml"/>
  <mapping resource="FacilitiesDetails.hbm.xml"/>
 <mapping resource="Facilities.hbm.xml"/>
 <mapping resource="MaintenanceList.hbm.xml"></mapping>
 <mapping resource="MaintenancePOJO.hbm.xml"></mapping>
 </session-factory>
 </hibernate-configuration>     